li(class='user-list__item', data-id=_id)= fullName
	div.user-list__edit
		a(class="user-list__edit-item user-list__edit-item--edit", href="#")
		a(class="user-list__edit-item user-list__edit-item--delete", href="#")